<?xml version="1.0" ?>
<model>
    <name>teo_leftArmStump</name>
    <version>1.0</version>
    <sdf version="1.6">leftArmStump.sdf</sdf>
    <author>
        <name>Robotics Lab at UC3M</name>
        <email></email>
    </author>
    <description>Model for the left arm with a stump of TEO humanoid robot.</description>
</model>
